<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Imglearn bot tool</title>
        <link rel="stylesheet" href="static/bootstrap.min.css"/>
    </head>
<body>
    {% if current_user.is_authenticated() %}
    Hi {{ current_user.email }}!
    <p>Click <a href="/logout">here</a> to logout.</p>
    {% endif %}

    <div class="row">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
        {{ message }}
        </div>
    {% endfor %}
    </div>

    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>

</body>
</html>