{%extends 'base.html' %}
{% block content %}
<h1>Welcome home</h1>


{% from "_formhelpers.html" import render_field %}
<form role="form" method=post action="{{ url_for('add') }}">
{{ render_field(formadd.name) }}
{{ render_field(formadd.description) }}
<p><input type=submit class="btn btn-success" value=Add Bot>
</form>

<form role="form" method=post action="{{ url_for('delete') }}">
{{ render_field(formdel.id) }}
<p><input type=submit class="btn btn-warning" value=Delete Bot>
</form>





<table class="table table-hover">
   <thead>
      <tr>
         <th>Bot Name</th>
         <th>Bot Description</th>
         <th>Action</th>
      </tr>
   </thead>
   <tbody>
   {% for bot in bots %}
    <tr>
    <td>{{ bot.name }}</td>
    <td>{{ bot.description }}</td>
    <td>560001</td>
    </tr>
   {% endfor %}
   
      
   </tbody>
</table>
{% endblock %}